<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/public/styles.css" />
    <link rel="stylesheet" type="text/css" href="/public/all_trains.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <script src="https://kit.fontawesome.com/97d24611fb.js" crossorigin="anonymous"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"/>
    <title>All booking Options</title>
  </head>
  <body>
      <div class="container">

        <div class="navbar">
          <h2 class="Home">
            <a href="/">RailGoods</a> 
          </h2>
          <div class="buttons">
            <!-- <a href="#">Check PNR Status</a> -->
            <%if(!loggedInUser){ %>
            <a href="/login">Login</a>
            <button class="buttons"><a href="/signup">SignUp</a></button>
            <% }%>
            <% if(loggedInUser){%>
            <button class="buttons"> <a href="/profile"><%= loggedInUser.username %>'s Profile</a></button>
            <a href="/logout">Logout</a>
            <% }%>
          </div>
        </div>
        <div class="search-bar">
            <form action="/search" method= "POST" class="row">
                    <div class="col">
                      <label for="source">From</label>
                      <select name="sourcestation" id="source">
                        <option value="NDLH">NDLH</option>
                        <option value="CDG">CDG</option>
                        <option value="UMB">UMB</option>
                      </select>
                    </div>
                    <div class="col">
                      <label for="destination">To</label>
                      <select name="destinationstation" id="destination">
                        <option value="LKO">LKO</option>
                        <option value="BSR">BSR</option>
                        <option value="GHY">GHY</option>
                        <option value="SBC">SBC</option>
                      </select>
                    </div>
                    <div class="col">
                      <label for="date" class="date">Date</label>
                      <input class = "indexInput" type="date" id="traveldate" name="traveldate">
                    </div>
                    <div>
                      <button><i class="fas fa-search"></i></button>
                    </div>
            </form>
        </div>
        <div>
          <h2>Available Trains</h2>
        </div>
        <div class="all_trains col">
            <div class="col">
                  <% for (var i=0; i< allresults.length ; i++) { %>
                  <div class= "col">
                    <div class ="train-upper">
                      <div>
                        <strong> <%= allresults[i].name %> </strong> &emsp; &emsp;(<%= allresults[i].service %>) ( departs at <%=allresults[i].departure %> hrs)
                      </div>
                      <div>
                        Maximum Capacity : <%= allresults[i].capacity %>&nbsp;
                        Remaining Capacity : <%= allresults[i].capacityleft %>
                      </div>
                      </div>
                    <div class = "train-lower">
                      <div>
                        <%= allresults[i].source%> -> <%= allresults[i].destination%>
                        <%= allresults[i].bookingdate%>
                      </div>
                      <div class ="navbar buttons">
                        <% if(!loggedInUser){ %>
                          <button class="buttons"><a href="/login">Login and Book</a></button>
                        <% }%>
                        <%if(loggedInUser){ %>
                          <button class="buttons"><a href= " <%= "/booknow/" + allresults[i].trainid + "/" + allresults[i].bookingdate + "/" + allresults[i].capacityleft + "/" %>">Book Now</a></button>
                        <% }%>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <% } %>
            </div>
        </div>
      </div>
  </body>
  </html>
