<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/booking.css">
    <title>Confirm</title>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <h2 class="Home">
          <a href="/">RailGoods</a>
        </h2>
      </div>

      <div class="confirm">
        <h2>Confirm Booking</h2>
        <form action="<%= "/confirm/" + train.trainid +"/" + train.bookingdate + "/" + train.capacityleft + "/"  %> " method="POST">
          <div class="row">
            <div class="col">Train Name:</div>
            <div class="col"><%= train.trainname%></div>
          </div>
          <div class="row">
            <div class="col">Train ID:</div>
            <div class="col"><%=train.trainid%></div>
          </div>
          <div class="row">
            <div class="col">Date:</div>
            <div class="col"><%=train.bookingdate%></div>
          </div>
          <div class="row">
            <div class="col">Amount:</div>
            <div class="col">
            <input type="text" name="amount" id="amount" placeholder="in Units" required/>
            </div>
          </div>
          <div class="row">
            <div class="col">Available Space:</div>
            <div class="col"><%= train.capacityleft%></div>
          </div>
          <div class="row">
            <a href="javascript:history.back()"class="cancel">Go Back</a><button>Confirm</button>
          </div>
          <!-- <div class="col">Available Space: <span><%= train.capacityleft%></span></div> -->
          <!-- <button class="cancel"><a href= "/">Go Back</a></button> -->
          <!-- <button >Confirm</button> -->
        </form>
      </div>
    </div>
  </body>
</html>
