<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="booking.css" />
    <title>Confirm</title>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <h2 class="Home">
          <a href="/">RailGoods</a>
        </h2>
      </div>

      <div class="confirm">
        <h2>Confirm Booking</h2>
        <form action="<%= "/confirm/" + train.trainid +"/" + train.bookingdate + "/"  %> " method="POST">
          <div class="row">
            <div class="col">Train Name: <span><%= train.trainname%></span></div>
            <div class="col">Train ID: <span><%=train.trainid%></span></div>
          </div>
          <div class="col">Date: <span><%=train.bookingdate%></span></div>
          <div class="col">
            <label for="amount">Amount: </label>
            <input type="text" name="amount" id="amount" placeholder="in Units" required/>
          </div>
          <div class="col">Available Space: <span><%= train.capacityleft%></span></div>
          <!-- <button class="cancel"><a href= "/">Go Back</a></button> -->
          <button >Confirm</button>
        </form>
      </div>
    </div>
  </body>
</html>
