<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles.css" />
    <link rel="stylesheet" href="/public/profile.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <h2 class="Home">
                <a href="/">RailGoods</a>
            </h2>
        </div>
        <div class="profile">
            <div class="row">
                <p class="col">Username: <%= loggedInUser.username%></p>
                <p class="col">Email: <%= loggedInUser.email%></p>
            </div>
            <hr>
            <h2>Your orders: </h2>
            <% for ( var i=0; i<orders.length; i++) { %>
            <div class="order">
                <div class="details">
                    <div class="row">
                        <strong class="col"><%=orders[i].trainname %> (Express)</strong>
                        <p class="col">Amount Booked: <%=orders[i].amtbooked%></p>
                    </div>
                    <div class="row">
                        <p class="col"><%=orders[i].date%> <%= orders[i].time%></p>
                        <p class="col">Total paid: Rs. <%= orders[i].netcost%></p>
                    </div>
                </div>
                <button ><a href="<%= "/cancelorder/" + orders[i].orderid + "/" %>">Cancel Order</a></button>
            </div>
            <%}%>
            <!-- <div class="order">
                <div class="details">
                    <div class="row">
                        <strong class="col">T-Normal (Normal)</strong>
                        <p class="col">Amount Booked: 30 units</p>
                    </div>
                    <div class="row">
                        <p class="col">27-04-2021 14:00</p>
                        <p class="col">Total paid: Rs. 50</p>
                    </div>
                </div>
                <button>Cancel Order</button>
            </div> -->
            <hr>
        </div>
    </div>
</body>
</html>
